/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

/* universal Style */
* {
    margin: 0;
    padding: 0;
}

/* Common Styles */
body {
    font-family: 'Work Sans', sans-serif;
}

/* header Part Style start */

.header {
    background-image: url('../images/banner/banner2.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-info {
    text-align: right;
    padding: 175px;
    padding-bottom: 0;
}

.header-info .header-title {
    color: #151414;
    font-size: 55px;
}

.header-description {
    margin-left: 250px;
    padding-left: 250px;
    color: #444343;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.header-btn {
    border-radius: 5px;
    background: #F15B22;
    padding: 10px 20px;
    border: none;
    color: #fff;
}
/* header Part Style end */

/* About Section Style Start */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 130px;
    gap: 100px;
}

.about-info {

}

.about-info-title {
    color: #151414;
    font-size: 40px;
}

.about-info-description {
    color:  #444343;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
}

.about-info-item {
    color: #444343;
    line-height: 26px;
    margin-top: 30px;
}

.about-info-item li {
    list-style: none;
}

.about-info-item li .fa-solid {
    color: #16D887;
}

/* About Section Style End */

/* My Plans Section Style Start */
.my-plans {
    margin: 120px;
}

.my-plans-title {
    color:#151414;
    font-size: 40px;
    text-align: center;
    margin-bottom: 110px;
}

.plans-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plans-item {
    text-align: center;
}

.plans-item img {
    margin-bottom: 15px;
}

.plans-item-title {
    color: #151414;
    font-size: 25px;
}


.plans-item-description {
    color: var(--dark-03, #737272);
    font-size: 20px;
    margin-top: 15px;
}


/* My Plans Section Style End */

/* Watch Section Style Start */
.watch-section {
    padding: 61px 112px;
    margin: 0 120px;
}

.watch-details {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    padding: 35px;
    
}

.watch-details-title {
    color: #FFF;
    font-size: 35px;
    width: 50%;
    margin-top: 20px;
}

.call-now-btn {
    border-radius: 5px;
    background: #FFF;
    padding: 10px 15px;
    border: 0;
    text-align: center;
    color: #F15B22;
    margin-top: 20px;
}

/* Watch Section Style end*/

/* Footer Section Start */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151414;
    color: #fff;
    gap: 120px;
    height: 500px;
    padding: 50px;
    padding-bottom: 0;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px
}

.footer-description {
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
}

.footer-item {
    width: 50%;
    padding: 30px;
}

.footer-item input{
    display: block;
}

.footer-item input[type="text"]{
    padding: 10px 20px;
    background-color: #151414;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px 0px;
}

.social {
    margin-top: 25px;
}

.social a img {
    padding-right: 10px;
}

.sub-btn {
    border-radius: 8px;
    background: #FFF;
    padding: 12px 20px;
    color: #F15B22;
    font-size: 16px;
    font-weight: 700;

}

/* Footer Section End */













